<div class="container">
  <div class="header">
    <h2>{{ hostName$ | async }}</h2>
    <button class="dark">Подтвердить</button>
  </div>
  <div class="host-info">
    <mat-table
      *ngIf="dataSource$ | async as dataSource"
      [dataSource]="dataSource"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="name">
        <mat-cell *matCellDef="let prop"> {{ prop.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="value">
        <mat-cell *matCellDef="let prop">{{ prop.value }}</mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: ['name', 'value']"></mat-row>
    </mat-table>
  </div>
</div>
