/* You can add global styles to this file, and also import other style files */
@import "theme/default-theme.scss";
@import "theme/input-controls.scss";
@import "theme/variables.scss";

* {
  box-sizing: border-box;
  font-family: "FiraSans", Roboto, "Helvetica Neue", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
