<div class="container" *ngIf="event$ | async as event">
  <div class="row">
    <div class="image">
      <img src="/assets/default-image.jpg" class="main-img" />
    </div>
    <div class="base-information">
      <h1>{{ event.title }}</h1>
      <h2 class="canceled" *ngIf="event.isCanceled">Мероприятие отменено</h2>
      <p>
        Организатор:
        <a [routerLink]="['/host', event.host.id]">{{ event.host.name }}</a>
      </p>
      <p>
        Дата проведения: <span>{{event.date | date:'dd/MM/yyyy'}}</span>
      </p>
      <p>
        Стоимость: {{event.price}}
      </p>
      <p>
        Адрес: {{readbleName | async}}
      </p>
      <p>
        Количество участников: {{event.participations.length}}
      </p>
      <!-- TODO: Button to edit an event. -->
      <div class="action-buttons">
        <button *ngIf="!isUserSubscribed; else unsubscribeBtn" type="button" (click)="onSubscribeBtnClick(event.id)">
          Я пойду!
        </button>
        <ng-container *ngIf="{value: isUserHost$ | async} as context">
          <button *ngIf="context.value" (click)="onEditButtonClick()"> Редактировать </button>
        </ng-container>
        <ng-template #unsubscribeBtn>
          <button type="button" (click)="onUnsubscribeBtnClick(event.id)"> Не пойду </button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="description">
    <p>{{ event.description }}</p>
  </div>
  <div class="map" *ngIf="mapOptions$ | async as options">
    <ego-map [options]="options"></ego-map>
  </div>
</div>