<ion-content>
  <div class="logo">
    <img src="assets/logocropped.png" />
  </div>
  <p class="ion-text-center greetings">
    Присоединяйся к дружному сообществу чтобы всегда быть в центре событий.
  </p>
  <form
    [formGroup]="form"
    (ngSubmit)="onFormSubmit(form)"
    #registerForm="ngForm"
  >
    <label>
      <span>Email</span>
      <input type="text" type="email" formControlName="email" />
      <egoc-form-control-validation-message
        controlName="email"
      ></egoc-form-control-validation-message>
    </label>
    <label>
      <span>Пароль</span>
      <input type="text" type="password" formControlName="pass" />
      <egoc-form-control-validation-message
        controlName="pass"
      ></egoc-form-control-validation-message>
    </label>
  </form>
  <p class="error ion-text-center" *ngIf="apiError$ | async as error">
    {{ error }}
  </p>
</ion-content>
<ion-footer no-border>
  <ion-button
    color="secondary"
    expand="full"
    (click)="registerForm.ngSubmit.emit()"
  >
    Создать
  </ion-button>
  <ion-button
    color="secondary"
    expand="full"
    fill="clear"
    (click)="goLoginBack()"
  >
    Назад
  </ion-button>
</ion-footer>
