<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef> Изображение </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.position }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.position }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Название </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Подтверждение </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button (click)="onConfirmClick(element.id)">Подтвердить</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
