<div class="table">
  <h2 class="title">Новые организаторы</h2>
  <mat-table
    *ngIf="dataSource$ | async as dataSource"
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let host">
        {{ host.id }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let host"> {{ host.email }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Название </mat-header-cell>
      <mat-cell *matCellDef="let host">
        <a class="link" [routerLink]="host.id">{{ host.name }}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="confirm">
      <mat-header-cell *matHeaderCellDef> Подтверждение </mat-header-cell>
      <mat-cell *matCellDef="let host">
        <button class="confirm-btn clear" (click)="onConfirmClick(host.id)">
          Подтвердить
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
