:host {
  --space: 20px
}

form {
  background: var(--card-background);
  // border: 2px solid var(--primary-border-color);
  box-shadow: 0 0 10px 0 var(--primary-border-color);
  padding: calc(var(--space) * 2);

  & > *:not(:last-child) {
    display: block;
    margin-bottom: var(--space);
  }
}

button {
  padding: calc(var(--space) / 2) calc(var(--space) / 1.5);
}