.container {
  --space: 20px;
  width: 800px;
  margin: 0 auto;
  padding: 5vh 0;
}

.title {
  background: var(--primary-background-color);
  color: var(--primary-contrast-color);
  padding: var(--space);
  margin-bottom: var(--space);
  font-weight: 300;
}
