:host {
  --space: 40px;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('src/assets/wave.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  width: 400px;
  border-radius: 10px;
  background: white;
  padding: calc(var(--space) * 1.25) var(--space);
  box-shadow: 0 0 10px 0 grey;
}

form > *:not(:last-child) {
  margin: calc(var(--space) / 2) 0;
}

label {
  display: block;
}

.button-panel {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 0;
}

label p {
  text-align: center;
}

.submit-btn {
  padding: 10px 15px;
  width: 110px;
}

.errors {
  height: 20px;

  .error-msg {
    margin: 0;
    text-align: center;
    color: var(--error-message);
  }
}

.links {
  display: flex;
  justify-content: space-between;
  
  a {
    color: var(--primary-color);
  }
}