<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button class="tab-button" tab="events" selected>
      <ion-icon class="tab-icon" name="bookmark"></ion-icon>
      <ion-label>Все события</ion-label>
    </ion-tab-button>
    <ion-tab-button class="tab-button" tab="my-events">
      <ion-icon class="tab-icon" name="bookmark"></ion-icon>
      <ion-label>Мои события</ion-label>
    </ion-tab-button>
    <ion-tab-button class="tab-button" tab="menu">
      <ion-icon class="tab-icon" name="menu"></ion-icon>
      <ion-label>Меню</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
