$font-path: "../assets/fonts";

@font-face {
  font-family: "FiraSans";
  font-weight: 300;
  font-style: normal;
  src: local("/#{$font-path}/FiraSans-Light"),
    url("/#{$font-path}/FiraSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-weight: 400;
  font-style: normal;
  src: local("/#{$font-path}/FiraSans-Regular"),
    url("/#{$font-path}/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-weight: 500;
  font-style: normal;
  src: local("/#{$font-path}/FiraSans-Medium"),
    url("/#{$font-path}/FiraSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-weight: 700;
  font-style: normal;
  src: local("/#{$font-path}/FiraSans-Bold"),
    url("/#{$font-path}/FiraSans-Bold.ttf") format("truetype");
}
