:host {
  --space: 20px;
}

.title {
  padding: var(--space);
  background-color: var(--primary-background-color);
  color: var(--primary-contrast-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & > *:not(:first-child) {
    margin-left: calc(var(--space) / 2);
  }
}

.list {
  margin: var(--space) 0 calc(var(--space) * 2) 0;
}

.info-icon {
  background-image: url("/assets/icon/info.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  fill: white;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: calc(var(--space) * 2);
}
