:host {
  --space: 40px;

  display: flex;
  flex-direction: row;

  > * {
    flex: 1 1 0px;
  }
}

.links {
  width: 100%;
  padding: 0 var(--space);
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--space) / 2);

  a {
    color: var(--primary-color);
  }
}

.functionality .form-header {
  margin: calc(var(--space) / 3) 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  * {
    margin: 0;
  }

  button.link {
    text-decoration: underline;
  }
}

.banner {
  background-image: url("src/assets/preview.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: sticky;
  top: 0;
}

.form {
  width: 600px;
  margin: 5vh auto 0 auto;
}
