:host {
  --space: 12.5px;

  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: calc(var(--space) * 2) 0;
}

.unscrollable {
  display: fixed;
  position: sticky;
  top: var(--space);
  height: 100%;
}

.description {
  flex-basis: 300px;

  .body {
    background-color: var(--primary-background-color);
    padding: var(--space);
    margin-top: calc(var(--space) * 2);

    & > * {
      color: var(--primary-color);
    }

    & > *:not(:last-child) {
      margin-bottom: calc(var(--space) * 1.5);
    }
  }

  .feedback-btn {
    width: 100%;
    padding: var(--space);
    margin-top: calc(var(--space) * 2);
  }
}

.avatar {
  height: 300px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.subscribe {
  padding: var(--space);
}

.icon-link {
  display: flex;
  align-items: center;

  img {
    width: 25px;
    height: 25px;
    margin-right: var(--space);
  }
}

.about {
  background: var(--primary-background-color);
  padding: var(--space);

  & > * {
    color: var(--primary-color);
  }

  h2 {
    margin-bottom: var(--space);
  }

  p {
    line-height: 1.5rem;
  }
}

.content {
  flex-basis: 700px;
  padding-left: calc(var(--space) * 2);
}

.events {
  margin-top: calc(var(--space) * 2);
  background: var(--card-color);
  padding: var(--space);

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(var(--space) * 2);
  }
}
