<ng-container *ngIf="host$ | async as host">
  <div class="description unscrollable">
    <div class="avatar">
      <img [src]="host.avatar">
    </div>
    <h1>{{host.name}}</h1>
    <button>Подписаться</button>
    <p>Количество подписчиков: </p>
    <p>Социальные сети:</p>
    <ul>
      <li>inst</li>
      <li>vk</li>
      <li>tw</li>
    </ul>
  </div>
  <div class="events">
    <header>
      <h2>Предстоящие события:</h2>
      <button class="clear">Показать все</button>
    </header>
    <ego-events-list [events]="events$ | async"></ego-events-list>
  </div>
</ng-container>