:host {
  --space: 40px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;

  & > * {
    margin: calc(var(--space) / 4) 0;
  }

  .submit-btn {
    padding: 10px 15px;
    margin-top: 30px;
    width: 110px;
  }
}