<form [formGroup]="form" (ngSubmit)="onFormSubmit(form)">
  <h2>Войти</h2>
  <label>
    <span>Email</span>
    <input type="text" type="email" formControlName="email" />
    <egoc-form-control-validation-message
      controlName="email"
    ></egoc-form-control-validation-message>
  </label>
  <label>
    <span>Пароль</span>
    <input type="text" type="password" formControlName="pass" />
    <egoc-form-control-validation-message
      controlName="pass"
    ></egoc-form-control-validation-message>
  </label>
  <div class="errors" *ngIf="apiError$ | async as error">
    <p class="error-msg">{{ error }}</p>
  </div>
  <div class="button-panel">
    <button class="primary submit-btn" type="submit">Вперёд</button>
    <div><a href="#" class="forgot-pass-link">Забыли пароль?</a></div>
  </div>
  <hr />
  <div class="button-panel">
    <p>Нет аккаунта?</p>
    <button class="secondary" type="button" routerLink="/auth/register">
      Зарегестрироваться
    </button>
  </div>
</form>
