:host {
  --space: 16px;
}

ion-content {
  --padding-top: var(--space);
  --padding-bottom: var(--space);
  --padding-start: var(--space);
  --padding-end: var(--space);
}

.card {
  display: block;
  margin-bottom: var(--space);
  border-radius: 5px;
}
