<ion-header>
  <ion-toolbar>
    <ion-title>Все события</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="secondary" (click)="onFiltersButton()">
        <ion-icon
          size="small"
          slot="icon-only"
          src="assets/icon/filter.svg"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="pagination$ | async as pagination">
    <egom-event-card
      class="card"
      *ngFor="let event of pagination.items"
      [event]="event"
    ></egom-event-card>
    <ion-item *ngIf="pagination.items.length === 0" lines="none">
      Мероприятий нет, попробуйте изменить значения фильтров :(
    </ion-item>
    <ion-infinite-scroll
      *ngIf="pagination.items.length < pagination.itemsCount"
      threshold="200px"
      (ionInfinite)="loadMoreEvents($event)"
    >
      <ion-infinite-scroll-content loadingText="Loading more events...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
</ion-content>
