:host {
  --space: 40px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;

  & > * {
    margin: calc(var(--space) / 4) 0;
  }

  .submit-btn {
    padding: 10px 15px;
    margin-top: 30px;
  }
}

.select-image {
  display: flex;
  flex-direction: row;
  align-items: center;

  .fake-load-btn {
    padding: 10px;
  }

  .avatar-error {
    margin: 0 0 0 10px;
  }
}

.selected-image {
  display: flex;

  span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
    max-width: 380px;
  }

  .remove-image {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: transparent;
    vertical-align: sub;
    padding: 0;
    margin: 0 0 0 15px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.errors {
  height: 20px;

  .error-msg {
    margin: 0;
    text-align: center;
    color: var(--error-message);
  }
}

