<div class="container">
  <form
    *ngIf="form$ | async as form"
    [formGroup]="form"
    (ngSubmit)="onFormSubmitted(form)"
  >
    <div class="row">
      <label>
        <span>Организатор</span>
        <input type="text" formControlName="hostName" />
      </label>
      <label>
        <span>Тип мероприятия</span>
        <select formControlName="type">
          <option [ngValue]="null" selected></option>
          <option *ngFor="let type of eventTypes$ | async" [value]="type.id">
            {{ type.value }}
          </option>
        </select>
      </label>
    </div>
    <div>
      <div class="row">
        <label>
          <span>От</span>
          <input
            formControlName="start"
            [owlDateTime]="startDate"
            [owlDateTimeTrigger]="startDate"
            [min]="minDate"
          />
          <owl-date-time #startDate pickerType="calendar"></owl-date-time>
        </label>
        <label>
          <span>До</span>
          <input
            formControlName="end"
            [owlDateTime]="endDate"
            [owlDateTimeTrigger]="endDate"
            [min]="minDate"
          />
          <owl-date-time #endDate pickerType="calendar"></owl-date-time>
        </label>
      </div>
    </div>
    <div class="action-btn">
      <button class="primary" type="submit">Принять</button>
      <button class="dark" type="button" (click)="clearFilters(form)">
        Сбросить
      </button>
    </div>
  </form>
</div>
