button.primary {
  background: transparent;
  box-shadow: inset 0 0 0 2px var(--primary-font-color);
  color: var(--primary-font-color);
  align-self: center;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(
    to right,
    var(--primary-background-color) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;

  &:hover {
    background-position: left bottom;
  }
}

button.secondary {
  background: var(--primary-background-contrast);
  color: var(--primary-contrast-color);
}

button.clear {
  background: transparent;
}

a {
  color: var(--link-color);
}
