:root {
  --font-size: 16px;
  --primary-font-family: "FiraSans", Roboto, "Helvetica Neue", sans-serif;

  --primary-color: #fff;
  // --primary-color: #fff5d7;
  --primary-font-color: #000000;
  --primary-contrast-color: #fff;
  --primary-background-color: #fea49f;
  --primary-background-contrast: #101357;

  --yellow: #fbaf08;

  --primary-border-color: #9c9c9c;
}
