:root {
  --font-size: 14px;
  --primary-font-family: "FiraSans", Roboto, "Helvetica Neue", sans-serif;
  
  --primary-color: #0099ff;
  --primary-font-color: #1b1b1b;
  --primary-contrast-color: #fff;
  --base-color: #000000;
  --error-message: #ff5c5c;

  --label-font-color: #1b1b1b;
  --primary-border-color: #2b2b2b;
  --input-border-radius: 0px;
  --placeholder-color: #535353;
}