:root {
  --font-size: 16px;
  --primary-font-family: "FiraSans", Roboto, "Helvetica Neue", sans-serif;

  --primary-color: #fff;
  // --primary-color: #fff5d7;
  --primary-font-color: #fff;
  // --primary-font-color: #ff5e6c;
  --primary-contrast-color: #fff;
  --primary-background-color: #fea49f;
  --primary-background-contrast: #101357;

  --yellow: #fbaf08;
}
