:host {
  --font-size: 1.25rem;
  --item-size: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--primary-background-contrast);
  font-size: var(--font-size);
  align-items: center;
  padding: calc(var(--item-size) / 2) var(--item-size);
}

.app-logo {
  height: 3rem;

  img {
    height: 100%;
  }
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links {
  & > * {
    margin-left: var(--item-size);
    cursor: pointer;
  }
  a {
    display: block;
    cursor: pointer;
    padding: var(--item-size);
    text-align: center;
    border-radius: 5px;
    transition-duration: 0.15s;
    color: var(--primary-contrast-color);
  }

  svg {
    fill: var(--primary-contrast-color);
  }

  a:hover {
    background: rgba(0, 127, 79, 0.5);
    color: #fbaf08;
  }

  svg:hover {
    fill: #fbaf08;
  }
}

.menu-icon {
  width: 28px;
  height: 28px;
}
