:host {
  --space: 10px;

  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

div.image {
  width: 150px;
  height: 150px;
}

div.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action-buttons {
  margin-left: calc(var(--space) * 2);
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: var(--space);
  }
}

.load-btn {
  padding: var(--space);
}

.remove-btn {
  background: transparent;
  color: var(--error-message);
  text-decoration: underline;
}