<div class="container">
  <div class="search-block">
    <input
      [formControl]="inputControl"
      placeholder="Введите название события"
    />
    <button class="search-btn filters" (click)="toggleFilters()">
      <img src="assets/icon/filter.svg" />
    </button>
    <div class="filters-block" *ngIf="areFiltersShown">
      <ego-search-filters
        [selectedFilters]="filters$ | async"
        (select)="onFiltersSelect($event)"
      ></ego-search-filters>
    </div>
  </div>
  <ng-container *ngIf="pagination$ | async as pagination">
    <div class="events">
      <div class="card" *ngFor="let event of pagination.items">
        <ego-event-card [event]="event"></ego-event-card>
      </div>
      <button
        type="button"
        class="dark more-btn"
        *ngIf="pagination.items.length < pagination.itemsCount"
        (click)="onMoreButton()"
      >
        Ещё
      </button>
    </div>
  </ng-container>
</div>

<ego-loading *ngIf="isLoading$ | async"></ego-loading>
