:host {
  --search-block-size: 35px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.search-block {
  width: 100%;
  margin-top: 20px;
  position: sticky;
  border: 1px solid var(--primary-border-color);

  input {
    border: none;
    height: var(--search-block-size);
    padding: 0 calc(var(--search-block-size) + 5px);
    width: 100%;
  }

  .search-btn {
    position: absolute;
    top: 0;
    height: 100%;
    width: var(--search-block-size);
  }

  .search-btn.filters {
    left: 0;
  }

  .search-btn.search {
    right: 0;
  }
}
