<ion-content>
  <div class="logo">
    <img src="assets/logocropped.png" />
  </div>
  <p class="ion-text-center greetings">
    Найди мероприятие по душе и проведи время с пользой и удовольствием.
  </p>
  <form [formGroup]="form" (ngSubmit)="onFormSubmit(form)" #loginForm="ngForm">
    <label>
      <span>Email</span>
      <input type="text" type="email" formControlName="email" />
      <ego-form-control-validation-message
        controlName="email"
      ></ego-form-control-validation-message>
    </label>
    <label>
      <span>Пароль</span>
      <input type="text" type="password" formControlName="pass" />
      <ego-form-control-validation-message
        controlName="pass"
      ></ego-form-control-validation-message>
    </label>
  </form>
  <p class="error ion-text-center" *ngIf="apiError$ | async as error">
    {{ error }}
  </p>
</ion-content>
<ion-footer no-border>
  <ion-button
    color="secondary"
    expand="full"
    (click)="loginForm.ngSubmit.emit()"
    >Войти</ion-button
  >
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-button color="secondary" expand="full" fill="clear">
          Забыли пароль?
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button color="secondary" expand="full" fill="clear">
          Нет аккаунта?
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
