:host {
  --space: 30px;

  background: var(--page-background-color);
}

ion-content {
  --padding-start: var(--space);
  --padding-end: var(--space);
  --padding-top: var(--space);
  --padding-bottom: var(--space);
  --background: transparent;
}

ion-footer {
  padding: 0 var(--space) calc(var(--space) / 2) var(--space);
}

.error {
  color: var(--error-message);
}

.logo {
  margin-top: 100px;
  text-align: center;
}

.greetings {
  color: var(--primary-color);
  margin-bottom: 30px;
}
