/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts/fonts.scss";
@import "./theme/default-theme.scss";
@import "./theme/input-controls.scss";
@import "./theme/variables.scss";
@import "~ng-pick-datetime/assets/style/picker.min.css";

* {
  box-sizing: border-box;
  font-family: "FiraSans", Roboto, "Helvetica Neue", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--primary-font-color);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
}

.note {
  color: var(--placeholder-color);
  font-size: 0.86rem;
  font-style: italic;
}
